CREATE DATABASE STREAMING;
USE [STREAMING]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 29/11/2022 15:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[IDADE] [int] NOT NULL,
	[SENHA] [varchar](8) NOT NULL,
	[ID_FORMA_DE_PAGAMENTO] [int] NOT NULL,
	[TELEFONE] [varchar](13) NULL,
	[ID_PLANO] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILME]    Script Date: 29/11/2022 15:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILME](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORIA] [varchar](20) NOT NULL,
	[DURACAO] [time](7) NOT NULL,
	[ASSISTIDO] [bit] NOT NULL,
 CONSTRAINT [PK_FILME] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMA_DE_PAGAMENTO]    Script Date: 29/11/2022 15:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMA_DE_PAGAMENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FORMA_DE_PAGAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANOS]    Script Date: 29/11/2022 15:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PLANOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERIE]    Script Date: 29/11/2022 15:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERIE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORIA] [varchar](20) NOT NULL,
	[EPISODIOS] [int] NOT NULL,
	[ASSISTIDO] [bit] NOT NULL,
 CONSTRAINT [PK_SERIE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WATCHING]    Script Date: 29/11/2022 15:50:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WATCHING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_FILME] [int] NULL,
	[ID_SERIE] [int] NULL,
	[ID_CLIENTE] [int] NOT NULL,
 CONSTRAINT [PK_WATCHING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_FORMA_DE_PAGAMENTO] FOREIGN KEY([ID_FORMA_DE_PAGAMENTO])
REFERENCES [dbo].[FORMA_DE_PAGAMENTO] ([ID])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_FORMA_DE_PAGAMENTO]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES_PLANO] FOREIGN KEY([ID_PLANO])
REFERENCES [dbo].[PLANOS] ([ID])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLIENTES_PLANO]
GO
ALTER TABLE [dbo].[WATCHING]  WITH CHECK ADD  CONSTRAINT [FK_WATCHING_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[WATCHING] CHECK CONSTRAINT [FK_WATCHING_CLIENTES]
GO
ALTER TABLE [dbo].[WATCHING]  WITH CHECK ADD  CONSTRAINT [FK_WATCHING_FILME] FOREIGN KEY([ID_FILME])
REFERENCES [dbo].[FILME] ([ID])
GO
ALTER TABLE [dbo].[WATCHING] CHECK CONSTRAINT [FK_WATCHING_FILME]
GO
ALTER TABLE [dbo].[WATCHING]  WITH CHECK ADD  CONSTRAINT [FK_WATCHING_SERIE] FOREIGN KEY([ID_SERIE])
REFERENCES [dbo].[SERIE] ([ID])
GO
ALTER TABLE [dbo].[WATCHING] CHECK CONSTRAINT [FK_WATCHING_SERIE]
GO
